.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  .header-top {
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;
    background-color: #ededed;
    padding: 6px 15px;

    .header-hotline {
      display: flex;
      align-items: center;

      .link {
        color: var(--text-color);
        text-decoration: none;
        padding-left: 2px;

        &:hover {
          color: var(--primary);
        }
      }

      span {
        margin: 0 6px;
        color: #9d9c9c;
      }

      i {
        font-size: 1.2rem;
        margin-right: 5px;
      }
    }

    .header-login {
      display: flex;
      align-items: center;
      gap: 10px;

      .button-login {
        color: var(--text-color);
        font-size: 1.2rem;
        font-weight: 500;
        padding: 0;
        border: none;
        background: transparent;
        cursor: pointer;
        margin-left: 20px;

        &:hover {
          color: var(--primary);
        }
      }
    }
  }

  .header-next {
    background-color: var(--primary);

    .header-search {
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        flex: 0 0 auto;
      }

      .search {
        flex: 1;
        max-width: 50%;
        height: 40px;
        margin-right: 20px;
        margin-left: 50px;

        .search-wrapper {
          position: relative;

          .suggestions-list {
            position: absolute;
            z-index: 10;
            background: #fff;
            border: 1px solid #ddd;
            width: 530px;
            max-height: 300px;
            overflow-y: auto;
            margin-top: 4px;
            padding: 0;
            list-style: none;
            border-radius: 10px;

            .suggestion-item {
              display: flex;
              align-items: center;
              padding: 8px 12px;
              cursor: pointer;
              border-bottom: 1px #ededed solid;
              transition: background 0.2s;

              &:hover {
                background: #f5f5f5;
              }

              .suggestion-img {
                width: 40px;
                height: 40px;
                object-fit: contain;
                margin-right: 10px;
              }

              .suggestion-name {
                font-size: 14px;
                color: #333;
              }
            }
          }
        }
      }

      .header-right {
        display: flex;
        align-items: center;
        gap: 16px; // khoảng cách giữa cart và user

        .cart,
        .header-user {
          display: flex;
          align-items: center;
          color: #fff;
        }

        .cart {
          position: relative;
          margin-right: 20px;

          .cart-link {
            font-size: 24px;
            color: #fff;
            display: flex;
            align-items: center;
          }

          span {
            position: absolute;
            top: -6px;
            right: -10px;
            background-color: rgb(244, 37, 120);
            color: white;
            font-size: 12px;
            padding: 2px 6px;
            border-radius: 50%;
            font-weight: bold;
            min-width: 20px;
            text-align: center;
            line-height: 1;
          }
        }

        .header-user {
          display: flex;
          align-items: center;

          .header__account-button {
            display: flex;
            align-items: center;
            background: none;
            border: none;
            font: inherit;
            color: inherit;
            cursor: pointer;
            padding: 0;
            margin: 0;
          }

          p {
            margin: 0 4px;
            line-height: 1;
            font-size: 1.6rem;
            font-weight: 500;
            color: #fff;
          }
        }
      }
    }
  }

  .header-menu-wrapper {
    width: 100%;
    background-color: var(--main);

    .custom-menu {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      white-space: nowrap;
      background: transparent;
      border-bottom: none;
    }

    .ant-menu-overflow-item-rest {
      display: none !important; 
    }

    .ant-menu-item,
    .ant-menu-submenu {
      padding: 0 24px;
      font-size: 1.6rem;
      font-weight: 500;
    }

    .ant-menu-item:hover,
    .ant-menu-submenu-title:hover {
      color: var(--primary) !important;
      transform: translateY(-1px);
    }

    .ant-menu-item-selected {
      color: var(--primary);
    }
  }
}
