@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.min.css";

:root {
  --primary: rgb(90, 103, 248);
  --main: rgb(244, 247, 255);
  --black: #000;
  --white: #fff;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-optical-sizing: auto;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.page {
  background: var(--main);
  padding-top: 200px;
}

.container {
  width: 100%;
  margin: auto;
  background: var(--main);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.link {
  color: var(--text-color);
  text-decoration: none;
  padding-left: 2px;

  &:hover {
    color: #6a59e6;
  }
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

i {
  padding: 5px;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-lg-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-md-4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
